#articleContainer {
    /* width: 100%; */
    display: inline-block;
    position: relative;
    font-family: "Roboto Slab","Times New Roman",serif;
    color: rgba(0,0,0,0.6);
    padding-bottom: 5%;
    padding: 5% 15%;
}

#articleContainer p {
    text-align: justify;
}

.newsImage {
    width: 50%;
}

.newsHeading {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    font-weight: 900;
    font-family: "Roboto Slab", "Times New Roman", serif;
    margin-bottom: 1.5%;
}