.scrollingCardWrapper .blog-section {

    padding: 35px 0px;
    background-color: #FFFFFF;
}

.scrollingCardWrapper .blog-section .font-roman {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.scrollingCardWrapper .blog-section .font-arial {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.scrollingCardWrapper .blog-section .flex-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.scrollingCardWrapper .blog-section .flex-container .blog {
    width: 31%;
    margin: 0 auto;
}

.scrollingCardWrapper .blog-section .blog span {
    font-size: 14px;
}

.scrollingCardWrapper .blog-section .blog h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.scrollingCardWrapper .blog-section img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    transition: 1s;
}


.scrollingCardWrapper .blog-section .blog img:hover {
    transform: scale(1.05);
    transition: all .8s linear;
    transition: .8s;
    cursor: pointer;
    opacity: 0.7;
}


.scrollingCardWrapper .blog-section .headline {
    text-align: center;
}

.scrollingCardWrapper .blog-section .headline span {
    color: rgb(153, 153, 153);
}

.scrollingCardWrapper .blog-section .headline h1 {
    font-weight: bold;
}

.scrollingCardWrapper .blog-section .flex-container .blog p {
    text-align: justify;
    text-justify: inter-word;
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.scrollingCardWrapper .blog-section a {
    white-space: nowrap;
    text-decoration: none;
    color: rgb(35, 82, 124);
}

.scrollingCardWrapper .blog-section a:hover {
    color: rgb(233, 30, 99);
}


.color-violet {
    color: #A55CC0;
}


.color-blue {
    color: #62CBDD;
}

.color-yellow {
    color: #F69D9B;
}