

  .TabChoiceCont{
      position: relative;
      display: inline-block;
      margin-top: 3%;
      width: 100%;
      font-family: "Roboto Slab", "Times New Roman", serif;
    -webkit-font-smoothing: antialiased; 
  }
  
  .companyTabChoice {
    position: relative;
    padding-bottom: 0%;
    width: 100%;
  }
  .companyTabChoice .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 2% 0 0 0;
    background: #FF1847;
  }
  .companyTabChoice ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    margin-left: 10%;
  }
  .companyTabChoice ul li {
    margin: 0 8% 0 0;
    opacity: 0.6;
    transition: all 0.4s ease;
  }
  .companyTabChoice ul li:hover {
    opacity: 0.8;
  }
  .companyTabChoice ul li.companyTabChoiceLI_Active {
    opacity: 1;
  }
  .companyTabChoice ul li:last-child {
    margin-right: 0;
  }
  .companyTabChoice ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 1.1em;
  }
  