.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323437;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    position: relative;
    line-height: 21px;
    /* text-align: center; */
    font-family: "Roboto Slab","Times New Roman",serif;
}

/* .footer i {
    margin-right: 15px;
} */

.footer .container {
    width: 80%;
}

.upper-portion {
    display: flex;
    margin-bottom: 50px;
}

.upper-portion-left {
    color: #afafaf;
    padding-right: 15px;
    width: 50%;
}

.upper-portion-right h3 {
    color: #afafaf;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 12px;
}

.upper-portion-left a {
    color: #afafaf;
    margin-right: 15px;
    font-size: 1.5em;
}

.upper-portion-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 5px;
}

.lower-portion {
    display: flex;
    justify-content: space-between;
    border-top: 1px #afafaf solid;
    padding-top: 50px;
    padding-right: 5%;
}

.social-network-links {
    margin-bottom: 25px;
}

.footer-branding {
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}

.footer i:hover {
    color: #1974D2;
}

/* footer a tags */
.footer-link {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
    /* line-height: 2em; */
}

.footer a.underline.after.first {
    text-decoration: none;
    position: relative;
}

.footer a.underline.after.first:hover:after {
    width: 100%;
}

.footer a.underline.after.first:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #358ed7;
    transition: 0.5s;
}
