.scrollingCardWrapper .newsletter-section .font-roman {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.scrollingCardWrapper .newsletter-section .font-sarif {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.scrollingCardWrapper .newsletter-section {
    background-image: url(../images/newsletter_bg.jpg);
    background-repeat: no-repeat;
}

.scrollingCardWrapper .newsletter-section .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5% 0;
}

.scrollingCardWrapper .newsletter-section .newsletter-head h1,
p {
    color: white;
    text-align: center;
}



.scrollingCardWrapper .newsletter-section .newsletter-body {
    text-align: center;
}


.scrollingCardWrapper .newsletter-section .newsletter-body form {
    width: 35%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.2% 0;
    border-radius: 5px;
}


.scrollingCardWrapper .newsletter-section input {
    border-top: none;
    border-left: 15px;
    border-right: 15px;
    border-bottom: 1px solid rgb(85, 85, 85);
    margin-left: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
}


.scrollingCardWrapper .newsletter-section button {
    margin-left: 25px;
    padding: 13px 25px;
    border: none;
    background-color: #E91E63;
    color: #fff;
    border-radius: 3px;
}

.scrollingCardWrapper .newsletter-section button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}